
.logo-section {
    align-items: baseline !important;
}

.title.bigScreen {
    min-width: 520px;
}

.logo-section .year {
    padding-left: 15px;
    font-size: 11px;
}

.logo-subtitle {
    padding-left: 16px;
}

.year-and-namespace {
    padding-left: 16px;;
    margin-top: 20px;
    font-weight: bold;
    white-space: nowrap;
}

.year-and-namespace .namespace {
    font-size: 14px;
    font-weight: bold;
    // width: 7em;
}

.year-and-namespace .year {
    font-size: 13px;
    font-weight: bold;
    // width: 8em;
}

.year-and-namespace .account.bigScreen .select {
    font-size: 13px;
    font-weight: bold;
    padding-left: 20px;
}
.year-and-namespace .account.bigScreen {
  flex: 0 0 10rem;
}
.account.smallScreen {
    padding-left: 16px;
    padding-top: 5px;
    width: 100%;
}
.account.smallScreen .select {
    font-size: 13px;
    font-weight: bold;
}
.account .sub-expired {
    z-index: 100;
    font-weight: normal;
    font-size: 0.8rem;
}
.account.smallScreen .sub-expired {
    padding-top:5px;
}

::ng-deep .year-and-namespace .account.bigScreen .select.loggedin .mat-mdc-select-placeholder {
    white-space: normal !important;
    text-align: center !important;
    display: inline-block !important;
}
::ng-deep .account.smallScreen .select.loggedin .mat-mdc-select-placeholder {
    // white-space: normal !important;
    display: inline-block !important;
}

::ng-deep .dropdown-panel {
    min-width: 12em !important; /* Ensures dropdown is wide enough */
    max-width: none !important; /* Allows expansion */
    white-space: nowrap; /* Prevents text from wrapping */
}

::ng-deep .mat-mdc-select-placeholder {
  white-space: pre-line !important; /* critical */
}

::ng-deep .cdk-overlay-pane.ps-disclaimer {
    width: 12em !important;
}
